In [62]:
from osgeo import gdal
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

In [87]:
ds = gdal.Open("C:\\Fusion\\BAD.tif")

In [88]:
gt = ds.GetGeoTransform()

In [89]:
res = gt[1]

In [90]:
xmin = gt[0]

In [91]:
ymax = gt[3]

In [92]:
xsize = ds.RasterXSize

In [93]:
xsize

387

In [94]:
ysize = ds.RasterYSize

In [95]:
ysize

457

In [96]:
xstart = xmin + res/2

In [97]:
ystart = ymax - res/2

In [98]:
dff = pd.read_csv('New77.csv')

In [99]:
dff

             0
0       308.85
1       310.59
2       310.70
3       308.09
4       308.44
...        ...
176854  307.89
176855  307.22
176856  307.81
176857  305.44
176858  303.72

[176859 rows x 1 columns]

In [100]:
x = np.arange(xstart, xstart+xsize*res, res)

In [101]:
y = np.arange(ystart, ystart-ysize*res, -res)

In [102]:
x = np.tile(x, ysize)

In [103]:
len(x)

176859

In [104]:
y = np.repeat(y, xsize)

In [105]:
flatt = np.array(dff)

In [106]:
flatee  = flatt[:,0]

In [107]:
dfn1 = pd.DataFrame({"x":x, "y":y, "value":flatee})

In [108]:
dfn1.to_csv("New77.xyz", index = False, header = None, sep = " ")

In [109]:
New77 = gdal.Translate("New77.tif", "New66.xyz", outputSRS = "EPSG:32649")

In [110]:
New66 = None